.ledgerViewer {
    // max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $cardColor;
    box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);


    &__header {
        cursor: pointer;
        padding: 20px;
    }

    &__header-info {
        display: block;
        margin-bottom: 5px;
        color: $cardInfoColor;
        font-weight: 500;
    }

    &__body {
        height: 0;
        overflow: hidden;

        &.toggled {
            height: auto;
        }
    }

    &__details {
        ul {
            padding: 20px;
            background-color: #f5f6fd;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    &__section-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__list {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        >li span:first-child {
            font-weight: 500;
        }

        >li {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
                word-break: break-all;
            }
        }
    }



    &__transaction {
        display: flex;
        flex-direction: column;
        gap: 20px;

        padding: 20px;
        background-color: #f5f6fd;
        border-radius: 5px;

        &-data {
            display: flex;
            flex-direction: column;
            gap: 20px;

            >li {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        &-reward {
            background-color: $transactionRewardColor;
        }

        &-regular {
            background-color: $transactionRegularColor;
        }

    }

}