nav {
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    min-height: 300px;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr auto;

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;

        li {
            display: grid;
            height: 40px;
            line-height: 40px;

            a {
                text-decoration: none;
                color: $textColor;
                position: relative;
                padding: 0 10px;
                transition: all 0.2s ease;

                &.active {
                    padding-left: 15px;
                }

                &.active::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 5px;
                    height: 100%;
                    background-color: $primaryColor;
                    border-radius: 3px;
                    max-height: 30px;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &:hover {
                    background-color: #f8f4fe;
                    border-radius: 5px;
                }
            }
        }

        &:last-child {
            margin-top: 50px;
        }
    }

    .action-btn {
        border: 1px solid #eee;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 10px;
    }

    .logout {
        background-color: white;
        border-color: #a30000;
        color: #a30000;
    }
}