.notice {
    display: flex;
    padding: 0 10px;
    font-size: pxToRem(13);
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    line-height: 40px;

    &.warning {
        background-color: #fff3f2;
        box-shadow: inset 0px 0px 0px 1px #ffdbd8;
        color: #F44336;
    }


    &.error {
        background-color: #fff3f2;
        box-shadow: inset 0px 0px 0px 1px #ffdbd8;
        color: #F44336;
    }

    &.success {
        background-color: #f2fff8;
        box-shadow: inset 0px 0px 0px 1px #aad8cf;
        color: #009688;
    }
}