html,
body,
#root {
    height: 100%;
}

html {
    background-color: $pageColor;
    font-family: $fontPrimary;
}

body {
    font-size: pxToRem($primaryFontSize);
}

.page {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main {
    // max-width: 400px;

}

.app {
    margin-top: 100px;
    min-width: 800px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}