// Slightly lighten a color
@function tint($color, $percentage) {
    @return mix(#fff, $color, $percentage);
}

// Slightly darken a color
@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}


$primaryColor: #635aff;
$accentColor: #550273;
$textColor: #333;
$errorTextColor: #ca0101;
$heroBannerOverlay: rgba(134, 0, 0, 0.37);
$pageColor: #f6f9fc;

$cardColor: #fff;
$cardInfoColor: #2B2862;
$borderColor: #f0f0f0;